
.container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.footer-style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    
}

@media (max-width: 500px){
    .container{
        margin-top: 40px;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .footer-style{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 5px;
        padding: 4px;
    }
}
